      <ol class="messages">
        <div class="switch">
          <span class="btn btn-primary"><%= link_to "Got messages",gotmsgs_user_path(@user) %></span>
          <span class="btn btn-primary"><%= link_to "Sent messages",sentmsgs_user_path(@user) %></span>
        </div>
        <% @msgs.each do |msg| %>
          <% if @title=="Messages you got" %>
            <% @msg_user=User.find(msg.from_id) %>
          <% else %>
            <% @msg_user=User.find(msg.to_id) %>
          <% end %>
          <li id="message-<%= msg.id %>" %>
            <%= link_to gravatar_for(@msg_user,size: 50),@msg_user %>
            <span class="user"><%= link_to @msg_user.name,@msg_user %></span>
            <span class="content"><%= link_to msg.content.truncate(80),"#" %></span>
            <span class="timestamp">
              Sent  <%= time_ago_in_words(msg.created_at) %> ago.
            </span>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @msgs %>

