<%= @msgs.each do |msg| %>
  <li id="message-<%= msg.id %>" %>
    <% @from_user=User.find(msg.from_id)%>
    <%= link_to gravatar_for(@from_user,size: 50),@from_user %>
    <span class="user"><%= link_to @from_user.name,@from_user %></span>
    <span class="content"><%= link_to msg.content.truncate(50),"#" %></span>
    <span class="timestamp">
      Sent  <%= time_ago_in_words(msg.created_at) %> ago.
    </span>
  </li>
<% end %>