<% @user||=current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= gotmsgs_user_path(@user) %>">
    <strong id="got_msg" class="stat">
      <%= @user.recieves.count %>
    </strong>
    msgs you got
  </a>
</div>